.DS_Store
.project
.metadata
.classpath
.settings/
target/
.idea/
*.iml
*.ipr
*.iws
/nbactions.xml
.checkstyle
.externalToolBuilders
maven-eclipse.xml

src/main/resources/archetype-resources/__rootArtifactId__-ui/src/main/content/jcr_root/etc/designs/__rootArtifactId__/fonts/
src/main/resources/archetype-resources/__rootArtifactId__-ui/src/main/content/jcr_root/etc/designs/__rootArtifactId__/*.css
src/main/resources/archetype-resources/__rootArtifactId__-ui/src/main/content/jcr_root/etc/designs/__rootArtifactId__/*.js

node_modules/